.DS_Store
*/.DS_Store
*~
*#*
gallery/*
.project

.settings/.jsdtscope

.idea/workspace.xml

*.prefs

*.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

scripts/.DS_Store
scripts/userController.js
"scripts/views/emitsopo\302\252"
"scripts/views/emitsopo\302\252"
service/config.ini
images/default_item_images/default_article.jpg
images/default_item_images/default_audio.jpg
images/default_item_images/default_publication.jpg
images/default_item_images/default_video.jpg
*.js_backup
