.captcha{
/*float: left;
width: 249px;
height: 18px;
margin: 0px;
margin-bottom: 1px;
padding: 5px 15px;
/*line-height: 18px;*/
/*border: none;*/
/*background-color: #ebedee;*/
}

#capchaButton{
	margin:10px 0px 0px 20px;
}