/**
 * Development scratch Styles
 *
 * This stylesheet contains CSS styles that are not fully tested for being part of the offical Personal Dossiers CSS.
 */

.beta.warning {
    text-align: left;
    font-weight: bold;
    font-style: italic;
}

.pd_embed.pd_details {
    width:  470px;
}

/**
 * a should have a different font color if not clicked
 */
/*add an extra formatting to disabled links. the pointer is not hand.*/
a.disable  {
    pointer-events: none;
    cursor: default;
}

/*
a.disable span.pd_active {
    color: #C9CACF !important;
}
*/

.pd_grey_bar {
    display: inline-block;
    width: 212px;
    height: 28px;
    padding: 0px 0px 0px 18px;
    margin: 0;
    margin-bottom: 1px;
    line-height: 28px;
    background: #4c5160 !important;
    color: #fff !important;
}

.pd_grey_bar.st a {
	float:right;
	text-decoration:none;
}

.pd_sb_icon {
    display: inline-block !important;
    width: 28px;
    height: 28px;
    background-color: #0089CF !important;
    background-position: -1px -1px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-left: solid 1px white;
    color:white;
}

.pd_add_dossier {
	display:inline;
	width:28px;
	height:28px;
	border-left:solid 1px white;
	float:right;
}

.pd_grey_head {
    /*display: inline-block;*/
    width: 452px;
    height: 28px;
    padding: 0px 0px 0px 18px;
    margin-left: 0px;
    margin-bottom: 1px;
    vertical-align: middle;
    line-height: 28px;
    background: #ebedee !important;
    color: gray !important;
    font-size:12px;
}

#save_changes_submit,
#save_password_submit,
#pd_logoutBtn,
#cancel_registration,
.active_registration {
    border: solid 1px white;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #4C5160;
    background-color: #ebedee;
    color: #4C5160;
    cursor: pointer;
}

.inactive_registration {
	border: solid 1px white;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #4C5160;
	background-color: #ebedee;
	color: gray;
	/*"cursor: default;*/
	pointer-events: none
}

.userlist {
    padding: 1.5em;
    margin-bottom: 1.5em;
    background: #e5eCf9;
    background: #FFF none repeat scroll 0% 50%;
    /*margin-bottom: 0;*/
    padding: 0;
    margin: 0 0 10px 0 ;
}

#pd_footer_gen {
    width: 100%;
    margin-top: 0px;
    height:50px;
    border:0px solid blue;
    background:#fff;
    /*border-top:1px dotted gray;*/
    background-image:url(../images/logo_isn.gif);
    background-repeat:no-repeat;
    background-size: 62px 40px;
    cursor:pointer;
    clear:both;
}

.pd_container {
	/*padding-bottom:90px;*/
}

.pd_sidebar-header.darkblue {
	background-color:#0089CF;
}

.pd_sidebar-header {
    color: #FFFFFF;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-left: 0;
    padding: 7px 15px 5px 10px;
    margin-bottom: 1px;
}

.pd_sidebar-header.standard {
    color: #FFFFFF;
    font-size: 12px;
    margin-left: 0;
    padding: 0px 0px 0px 18px;
    line-height: 28px;
    border-bottom: 1px solid #FFFFFF;
}

div.pd-snippetlist-content {
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
}

.pd-sidebar-header {
    color: #FFFFFF;
    height: 28px;
    padding: 0px 0px 0px 18px;
    margin: 0;
    margin-bottom: 1px;
    line-height: 28px;
    font-size:12px;
    font-family: arial,verdana,sans-serif;
}

.pd-sidebar-header.darkblue {
	background-color: #0089CF;
}

.pd_bookmarked_bar { /*grey_bar*/
    display: inline-block;
    width: 212px;
    height: 28px;
    padding: 0px 0px 0px 18px;
    margin: 0;
    margin-bottom: 1px;
    vertical-align: middle;
    line-height: 28px;
    background: #4C5160 !important;
    color: #ebedee !important;
}

.pd_bookmark_icon {
	color: #4C5160;
}

.pd_bookmark_icon_exist {
	color: #0089CF;
}

/*redefine the ul and li's in order the dossier list items to be displayed properly */

#content ul li,
#content ol li {
}

#content ul {
}


li {
}

#content ul li,
#content ol li {
}

ul#sortable {
    font-size:1em;
    line-height:1.5em;
	margin: 0;
	padding: 0;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
    overflow:auto; /* fix FF offset bug */
}

ul#sortable > li {
    clear:both;
    border-top: 1px solid #C9CACF;
    padding: 8px 0px;
}

ul#sortable > li:first-child {
}

ul#sortable > li:last-child {
    padding-bottom: 10px;
}


div.overviewcontent {
    width: 380px !important;
    margin-right: 0px !important;
    margin-left: 90px;
}

/* we redefine this in order to remove the more icon from the li items, it was set as a background on the original css */
#content ul li a,
#content a.more,
#content a.pdf,
#content ul li a:link,
#content a.more:link,
#content a.pdf:link,
#sidebar_right a.more:link {
    background: none;
    padding-left: 0;
    color: #333;
    text-decoration: none;
}

#content a.more:hover, #content ul li a:hover, #content a.more:visited, #content ul li a:visited {
    background: none;
    padding-left: 0;
    text-decoration: none;
}

#pd_invite_bar_text {
    display: inline-block;
    float: left;
    width: 176px;/*it was width: 373px;*/
    height: 18px;
    margin: 0px;
    margin-bottom: 1px;
    padding: 5px 0px 5px 17px;
    line-height: 18px;
    border: none;
    border-right: solid 1px white;
    background: #ebedee;
    color: #4C5160;
    font-size:12px;
}

.btn {
    cursor: pointer;
}

.btnBox {
    background-color: inherit;
}

.btnBox:hover {
    background-color: inherit;
}

#titleContainer a,
#titleContainer a:visited,
#titleContainer a:link {
    text-decoration: none;
    color: #000;
}

#titleContainer a:hover {
    color: #0089CF;
}


/**
 * more/less button styles
 */

.more_a {
    color: #0089CF;
    cursor: pointer;
    text-decoration: underline;
}

.more {}
.less {}

.embediFrameBig {
    width: 100%;
}

.gallerynavigation {
    margin-top: 25px;
    width: 470px;
    clear: both;
}
#loadmoreimages {
    cursor: pointer;
    
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #ebedee;
}

.galleryimage {
    width: 470px;
    height: 176px;
}

.isnbullet {
    padding-top: 10px;
    padding-left: 15px;
    list-style-image: url('../../images/icons/subnavi_bar_grey.jpg' )
}
