

/********************************Interaction Box************************
dimensions of interaction box items
width:38px;
height:34px;
**/


.pd_boxTitle{
	font-size:12px;
	color:#fff;
	
}
#InteractionBar{
	background-color:#4c5160;
	margin-bottom:1px;

}
.pd_interactionItem{
	background-color:#4c5160;
}
.greyBg{
	background-color:#ebedee;
}

.pd_tabs_margin {
	padding-left:5px;
}


.pd_selected {
	color:white;
}


.pd_active{
	color:#fff;
}

.pd_disable {
	color: #bebebe;
}

.iconMoon{
	font-family:'icomoon';
	font-size:18px;
}



/***********************End of Interaction Box*********************/



/******LOGIN FORM******************/

#loginForm{
	
	border:0px solid black;
	padding-bottom:0px;
	
}

input#username, input#password, input#edit_password,  input#edit_profile  {
    background-color:transparent;
    border: none;
    margin-left:18px;
    margin-right:18px;
   /* height:22px;   */
}

#edit_password, #edit_profile, .pd_listItem, .userlistItem {
    background-color:transparent;
    border: none;
    margin-left:18px;
    margin-right:18px;
    height:16px;
	font-size:12px;
	padding-top:10px;
	color:#4c5160;
	padding-bottom:2px;
   
}

input#username{
	height:10px;
	 padding-bottom:5px;
	 border-bottom:0px solid #c9cacf;
	
}
input#password{
	height:16px;
}

#edit_profile,.pd_listItem  {
	 border-bottom:1px solid #c9cacf;
	 padding-bottom:5px;
}
#pd_uContainer1{
	padding:0px;
	margin-left:18px;
    margin-right:18px;
    border-bottom:1px solid #c9cacf;
}

/*input#password { 
	margin-top:-3px;
	 border:0px solid blue;
}*/

input#password, #pd_currentPassword, #pd_newPassword, #pd_confirm_newPassword, #passwordRegistrationInput,#passwordRegConfirmInput {
	 -webkit-text-security: disc;
	 text-security:disc;
}

#loginButton {
	display:inline;
	width:45px;
	color:#4c5160;
	text-align: center;
	cursor: pointer; 
	border-right:1px solid white;
	/*border:1px solid green;*/
	padding-left:40px;
	padding-right:40px;
	text-aling:center;
	padding-top:6px;
	padding-bottom:10px;
	height:28px;
}

#registerButton{
	display:inline;
	color:#4c5160;
	text-align: center;
	cursor: pointer; 
	border:0px solid red;
	width:45px;
	margin-bottom:0px;
	padding-left:30px;
	padding-right:25px;
	padding-top:6px;
	height:28px;
}
#userloginHeader{
	height:14px;
}

.pd_embed_buttons{
	display:inline;
	color:#4c5160;
	text-align: center;
	cursor: pointer; 
	border:0px solid red;
	width:80px;
	padding-left:25px;
	padding-right:30px;
	padding-top:5px;
	clear:both;
	font-size:12px;
}

#contentEmbed {
	margin-top:5px;
	border-right:1px solid white;
	padding-bottom:8px;

}
#badgeStyle{
	margin-bottom:0px;
	margin-top:5px;
	padding-bottom:8px;
}
#contentBadgeContainer{
	background-color:grey;
}

.buttonContainer{
	width:229px;
	border-top:1px solid white;
	height:22px;
	padding-top:5px;
}





#loginUl{
	border: 0px solid blue;
	padding-left:0px;
}
.pd_loginContainer{
	border: 0'px solid green;
	width:200px;
	padding-left:-10px;
	right:20px;
	clear:both;
}

form.placeholder{
	color:red;
}

/*Webkit input fields*/

input::-webkit-input-placeholder{
	color:#a1aab1;
}

input#edit_profile::-webkit-input-placeholder{
	color:#4c5160;
}
input#edit_password::-webkit-input-placeholder{
	color:#4c5160;
}
input:hover::-webkit-input-placeholder{
	color:#4c5160;
}
input:focus::-webkit-input-placeholder{
	text-indent:-999px;
}

/*Mozilla input fields*/
input:-moz-placeholder, textarea:-moz-placeholder { 
   color:#a1aab1;
}
input:hover::-moz-placeholder, textarea:-moz-placeholder { 
   color:#4c5160;
}
input:focus::hover-moz-placeholder, textarea:-moz-placeholder { 
  text-indent:-999px;
}

/*Microsoft input fields*/
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:#a1aab1;
}

input:hover::-ms-input-placeholder, textarea:-ms-input-placeholder { 
 color:#4c5160;
}
input:focus::-ms-input-placeholder, textarea:-ms-input-placeholder { 
  text-indent:-999px;
}

/*****end of login form***********/



.profile{
	color:#4c5160;
	padding-left:18px;
	height:28px;
}


/*****ADD DOSSIER BUTTON**********/

.pd_generalButton{
display: inline-block;
width: 212px;
height: 28px;
padding: 0px 0px 0px 18px;
margin: 0;
margin-bottom: 1px;
vertical-align: middle;
line-height: 28px;
background: #ebedee !important;
color: #fff !important;	}


/************** CHANGE PASSWORD FORM       *****************/

.pd_warning{
	color:red;
	maring-top:15px;
	padding-left:25px;
	font-size:14px:
}


.pd_success{
	color:blue;
	font-size:20px:
}


.pd_profile_selected{
/*background-color:#D2D2D2;*/
font-color:blue;
}
/*************************end of change password***************/

/***LOGOUT CONFIRMATION BUTTON**/


.pd_logout_confirm{
	height:80px;
}

.logoutText{
	color:white;
}

#st_log_out_confirm{
	border:0px solid green;
}

#confirmationMsg{
	color:white;
	size:12px;
}

/**END OF LOGOUT CONFIRMATION BUTTON*/


/******************  EDIT DOSSIER BUTTON     ********************/

.pd_editDossier{
	font-size:12px;
	margin-bottom:10px;
}


.pd_img{
	float:left;
}
/**index.html css*/
#addbmbutton, .clickable {
    cursor: pointer;
}
#st_addDossier{
	background-image:url(../images/add.png);
}
.st_editDosser{
	border-left:1px solid white;
	float:right;
	padding-left:5px;
	padding-left:6px;
	padding-right:6px;
	font-size:16px;
	color:#4C5160;
}

/***** Dossier List Styles *****/
#L1, #L2, #followingListHeader {
	clear: both;
}


.dossier_item{
	border:0px solid red;
	float: left;
	margin-right: 10px;	
	padding-top:10px;
	padding-bottom:10px;
	width:470px;
}

.dossier_item_border{
	border-bottom:1px solid #C9CACF;
}


/************Registration*****/
.pd_inactive{
color: #c9cacf !important;
cursor: default !important;
}

.registration_message{
	color:red;
}

#emailInputContainer{
	/*border:1px solid red;*/
}

/****EMBED VIEW *********/

#dropdown_embed{
	height:auto;
	background-color:#ebedee;
	margin-top:1px;
	border:0px solid green;
	padding:0px;
	
}

.pd_activeBadge{
	background-color:grey;
	color:white;
}


input#inputContainer{
	margin-left:5px;
}
 #drop_info{
 	padding-top:3px;
	padding-left:7px;
	color:#0089CF;
	font-style:italic;
}

#embed_options,#embedButtons{
	/*font-weight:bold;*/
	font-size:12px;
	margin-top:10px;
	padding: 10px 0px 10px 00px;
	border:0px solid red;
	
}


#badgeHeader{
	top:0px;
}

#titleContainer{
	/*background-color:#ebedee;*/
	height:16px;
	border-bottom:1px solid white;
	margin-top:1px;
	font-size:14px;
	padding:3px 10px 4px 10px;
}

.dossierItemText{
	font-size:12px;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

.liItem{
	height:28px;
}


body.embedBadge {
	/* overflow: hidden; */
}

.pd_overflow{
	overflow-x:hidden;
	overflow-y:scroll;
	/*height: 270px; */ /* 380 - 87px*/
}


/*****END OF EMBED VIEW********/

#headerText{
	width: 22.72em;
    height: 27em; /*it was 6em, it can be set auto to get automatically the height of the filled content*/
    margin-bottom: 2em;
    background: #ebedee;
    border: .1em solid #C9CACF;
    border:0px solid green;
    float:right;
}

#header_image{
	border:0px solid red;
}

#header_container{
	border:1px solid green;
}

#contentArea{
	border:0px solid blue;
	
}

#dossier_description{
	border:0px solid green;
}

.dossierItemActive{
	color: #0089CF;
	border:0px solid blue;
}


.deleteButton {
	text-align: right;
	color: red;
	cursor: pointer;
}

.deleteConfirmButton{
	display:none; 
	color: red; 
	text-align:right; 
	cursor: pointer;
}

#addDossierBtn{
	font-size:12px;
	margin-right:10px;
}
.headerTitleContainer{
margin-bottom:10px;
padding-left:3px;
}

.headerTitle{
	border:0px solid red;
	font-size:16px;
	font-weight:bold;
	padding-left:3px;
	padding-top: 5px;
	margin-top:40px;
}
.titleEdit{
	float:right;
	color:#29a0d3;	
	border:0px solid red;
	font-size:13px;
	padding-right:7px;
	/*margin-top:180px;*/
	cursor: pointer;
	/*right:155px;
	bottom:80px;
	position:fixed;*/
}

.hidden{
	display:none;
}

.margingForEdit{
/*	margin-bottom:120px; */
}




.welcomeText{
	font-size:20px;
	border:0px solid black;
		
}

.dossierCat {
	color:#0089CF;
	font-size:16px;
	cursor:pointer;
	list-style-type: square;
}

.titleWelcome{
	font-style:italic;
	font-size:18px;
}
.left{
	float:left;
}

.right{
	float:right;
}

.addB{
	float:right;
	padding-bottom:15px;
	padding-right:30px;
}

.addInput{
	margin-top: 35px;
	vertical-align:middle;
}

.errorDossiers{
	font-size:20px;
	line-height:70px;
	height:70px;
	
}


.red {
	color:red;
}

.hidden{
	display:none;
}