#header{
	top:30px;
	width:980px;
	height:270px;
	border:0px solid black;
	background-image:url(../gallery/banner.jpg);
	background-repeat:no-repeat;
}

.column{
	width:240px;
	height:auto;
	padding:10px;
	text-align:left;
	border:0px solid black;
	float:left;
}


#content{
	width:475px;
	border:0px solid red;
	height:auto;
	float:left;
}

#badge{
	
	float:left;
}

.sub_column_item{
	border-bottom:1px dotted grey;
	padding-bottom:10px;
	margin-bottom:20px;
}

.embediFrameBig {
	width: 465px;
	height: 520px;
	border: none;
	overflow: hidden;
}

.metadataItem{
	padding-left:7px;
	font-weight:bold;
	font-size:12px;
	paddig-right:20px;
	
}

#metadataPdf{
	background-color:#d3d3d3;
	padding:10px;
}

#authorContainer{
	margin-right:260px;
}

#dateContainer{
	margin-right:10px;
}